h1{
    font-size: 25px;
}

#contentProgressbar{
    height: 20px;
}

#progressbar{
    width: 0%;
    height: 20px;
    background-color: green;
}

#question{
font-size: 14px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    border: 1px solid black;
    text-align: center;
}

#points{
    height: 25px;
}

#moyenne{
    height: 25px;
    background-color: springgreen;
}

#question{
    height: 40px;
}

#response{
    height: 40px;
}

.buttonQuestion{
 background-color: rgb(189, 197, 212);
 text-align: center;
 border-radius: 6px;
 padding: 1em;
 width: 80%;
 cursor: grab;
}

.buttonQuestion:hover{
    background-color: rgb(158, 169, 190);
   }

   button[disabled]
   {
    cursor: not-allowed; /* affiche interdit*/
    /* pointer-events:none; */
   }

   #questionPicture{

       background-image: url("../img/quiz.jpg");
       background-repeat: no-repeat;
       background-size: contain;
       background-position: center;
       background-color: white;
       min-height: 300px;
       border: 5px red solid;

   }


   #containIntro{
    display: flex;
}


#part1, #part2{
    height: 300px;
    width: 50%;
}


#part1{
 background-image: url("../img/intro.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover; 
}


 #part2{

     background-color: red;
     display: flex;
     align-items: center;
     justify-content: center;
 }



 #game{ 
     
    padding: 5px;
    margin: 10px;
    
}



   /* Ecran du jeu */
   #game1{

    background-color: rgb(231, 233, 236);
    /* display: none; */
   }

   #boutonPLay{
       background-color: aqua;
   }

  

#ecranfin{

    height: 100px;
    background-color: teal;
    position: relative;
    top: 20px;
}