html {
    height: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }

  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

#mainContent{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 10px;
    min-height: 100vh;
}

#containIntro{
    width: 320px;
    height: 568px;
    align-items:center;
    align-content:stretch;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 6px;
    -webkit-box-shadow: 4px 6px 13px -3px rgba(0,0,0,0.36); 
    box-shadow: 4px 6px 13px -3px rgba(0,0,0,0.36);
        background-color: white;
}

#containIntro p{
    padding: 20px;
    font-size: 0.8rem;
    color: gray;
}

#part1, #part2{
height: 260px;
margin-top: 12px;
padding: 5px;
}

#part1{
    background-image: url("../img/intro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

 #part2{
     display: flex;
     align-items: center;
     justify-content: center;
 }


h1, div, p, div #question {
    font-family: 'Dela Gothic One', cursive;
}

h1{
    font-size: 1.5rem;
    padding: 5px;
}

div #points{
    font-size: 0.7rem;
    padding: 10px 0 0 0;
}

#points{
    height: 25px;
    color:rgb(221, 222, 224);
}

#moyenne{
    height: 25px;
    font-size: 0.8rem;
}

div #question{
    height: 40px;
    font-size: 0.9rem;
    padding: 5px;
    color: gray;
}

div{
    text-align: center;
    vertical-align: middle;
}

.buttonQ, button, #game, #replay {
    margin: 2px 0 2px 0;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    cursor: grab;
    padding: 0.5em;
    cursor: grab;
    border: 0;
}

.buttonQ {
    /* width: 100%; */
    background-color: #76a5de;
    color: white;
    font-size: 1em;
}



.buttonQ:active{
    background-color:  #6998d1;
    color: white;
    font-size: 1em;
}

.buttonOrange {
    background-color: #ffa34e;
    color: white;
    font-size: 1em;
}


#contentProgressbar{
    height: 8px;
}

#progressbar{
    width: 0%;
    height: 4px;
    background-color: green;
}

.containTF{
    width: 100%;
    position: relative;
    height: 2px;
}

#response{
    position: relative;
    top: -15px;
    height: 10px;
    font-size: 0.8rem;
    padding: 10px 10px;
    color: #6a6e74;
}

.buttonQuestion{
 background-color: #646d77;

}

.buttonQuestion:hover{
    background-color: #76a5de;
   }

button[disabled]
   {
    cursor: not-allowed; /* affiche interdit*/
    /* pointer-events:none; */
   }

#questionPicture{
    background-image: url("../img/quiz.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
    min-height: 240px;
   }

/* Bouton  */
 #game, #next, #replay{    
    padding: 1em;
    margin: 10px;   
    font-size: 1em;
}


#next{
    padding: 0.5em;
    margin-bottom: 10px;
}

#game{
    background-color: #76a5de;
    color: white;
}


#replay{
    padding: 0.7em;
    margin: 10px; 
    background-color: black;
    color: white;
}

/* #nextPrev{
    border:1px solid red;
} */


/*  Div jeu */

   #game1{
    background-color: white;
    display: none;
    width: 320px;
    height: 568px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 6px;
    -webkit-box-shadow: 4px 6px 13px -3px rgba(0,0,0,0.36); 
    box-shadow: 4px 6px 13px -3px rgba(0,0,0,0.36);
   }


   #trueFalse{
    /* visibility: visible; */
    visibility: hidden;
    background-image: url("../img/vrai.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 45px;
    z-index: 999;

    /* position: absolute;
    animation-duration: 5s;
    animation-name: animationDiv;
    animation-iteration-count: 1;
    -webkit-animation-name:animationDiv;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration:1s; */
 
   }

/* animation vrai faux */

.animationDiv{ 
    /* position: absolute; */
    animation-duration: 5s;
    animation-name: animationDiv;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-name:animationDiv;
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes animationDiv {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 150px;
    }      
    20% {
        margin-top: 145px;
    }
    30% {
        margin-top: 150px;
    }
    100% {
        margin-top: 145px;
    }

}

@keyframes animationDiv {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 150px;
    }      
    20% {
        margin-top: 145px;
    }
    30% {
        margin-top: 150px;
    }
    100% {
        margin-top: 145px;
    }
    
  }


/* Div écran GameOver */
#infoEcranFin{
    position: relative;
    top: 270px;
    text-align: center;

}

#ecranfin{
    z-index: 1000;
    background-image: url("../img/gameOver.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 6px;
    width: 320px;
    height: 568px;
    position: absolute;
    background-color: white;
    text-align: center;
    display: none;
}



